#tittel{
    position: absolute;
    font-size: 200%;
    top: 0;
    left:0;
    right:0;
    height: 15%;
    background: url("ram.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(245, 245, 245);
    text-align: center;
}

h1 {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#meny {
    position: fixed;
    top: 15%;
    left: 0;
    right: 80%;
    height: 85%;
    box-shadow: 3px 3px rbga(0,100,100,0.7);
    }
    
     #meny {
        background-image: linear-gradient(to left, white,#AAAAAA);
        position: absolute;
        left: 0;
        bottom: 15%;
        width: 20%;
        height: 85%;
     }

         
     #meny ul {
        list-style-type: none;
        -webkit-padding-start: 0;
        }
         
     #meny li {
        list-style: none;
        display: block;
        }
         
     #meny li a {
        text-decoration: none;
        color:black;
        display: block;
        margin: 8px;
        text-align: center;
        padding-top:10px;
        height: 2em;
        background: linear-gradient(to bottom, grey,lightgray);
        border-radius: 5px;
        box-shadow: 3px 3px 3px gray; 
        }
         
     #meny li a:hover {
        box-shadow: 3px 3px 3px black; 
        }
         
     #meny li a:active {
        transform: translate(2px,2px); 
        box-shadow: none; 
        }
         
     #meny li a.showing {
        background: whitesmoke;
        color:blue;
        }
}

#innhold {
    position: absolute;
    top: 15%;
    left: 20%;
    right: 0;
    height: 85%;
    background-image: linear-gradient(to left, white,#ccc);    
    background-size: contain;
}

#innhold {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;    
}
    #innhold div {
        background: #0092FF;
        width: 40em;
        height: 25em;
        margin: 0.5em;
        margin-left: 20em;
        margin-top: 10em;
        padding: 0.5em;
        line-height: 1.5em;
        border-radius: 20px;
        }

}
#innhold {
    overflow: scroll;
    }

table, th, td {
    border: 1px solid black;
}
